.trafficLight{
    border-radius: 20%;
    background-color: black;
    width: 400px;
    height: 650px;
    margin: auto;
 

  }
  .light{
    margin: auto;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

  }
