
  .trafficLight{
    background-color: black;
    width: 400px;
    height: 700px;
    margin: auto;
 

  }
  .light{
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

  }
